/* classes css */
.img-redonda {
border-radius: 20%
  }
  .img_center {
    display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
  }
  .background {
    background-color: #F2E3C6
  }
  /* OBS: Não é necessário colocar vírgula entre as classes css */
.text-center {
  text-align: center;
}
